# Prerequisites
*.d

# Ignore compiled C++ files
*.exe
*.out

# Ignore MATLAB temporary files
*.asv
*.autosave

# Ignore system files
.DS_Store
Thumbs.db

# Optional: ignore CSV if you want (but you can keep it)
# orbit.csv

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
